html{
    box-sizing: content-box;
    font-family: poppins;
    background-color:hsl(0, 0%, 98%);
}
body{
     width: 80%;
     margin:5% 10%;
}

h1.titleone{
    text-align: center;
    font-weight: lighter;
    font-size: 165%;

}
h1.titletwo{
    text-align: center;
    font-weight: bolder;
    font-size: 170%;
    color: hsl(234, 12%, 34%);
   
}
h3.titlethree{
    font-weight: bold;
    font-size: 1,7rem;
}
p.paratop{
    font-size: 1rem;
    max-width: 55%;
    color: hsl(229, 6%, 66%);
    text-align: center;
    margin: 4% auto;
    margin-bottom: 7%;

}
p.paratcard{
    font-size: 1rem;
}

.allcard_Technology{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

.card1_Technology{
    border-radius: 3px;
    border-top: 4px solid hsl(180, 62%, 55%);
    padding: 2%;
    box-shadow: 5px 10px 40px hsl(0, 3%, 66%);
    width: 250px;
    height: 200px;
    margin-right: 4%;
    margin-bottom: 4%;

}
.card2_Technology{
    border-radius: 3px;
    border-top: 4px solid hsl(0, 78%, 62%);
    padding: 6%;
    box-shadow: 5px 10px 40px hsl(0, 3%, 66%);
    width: 250px;
    height: 200px;
    margin-bottom: 4%;

}
.card3_Technology{
    border-radius: 3px;
    border-top: 4px solid hsl(34, 97%, 64%);
    padding: 6%;
    box-shadow: 5px 10px 40px hsl(0, 3%, 66%);
    width: 250px;
    height: 200px;
    margin-top: 4%;
    margin-bottom: 4%;
}
.card4_Technology{
    border-radius: 3px;
    border-top: 4px solid hsl(212, 86%, 64%);
    padding: 2%;
    box-shadow: 5px 10px 40px hsl(0, 3%, 66%);
    width: 250px;
    height: 200px;
    margin-left: 4%;
}
.card23_Technology{
    display: flex;
    flex-direction: column;
}
footer{
    margin: 5%;
    text-align: center;
}
@media only screen and (max-width: 400px) {
    .allcard_Technology{
        display: flex;
        flex-direction: column;
    }
    .card1_Technology{
        width: 300px;
        height: 250px;
    }
    .card2_Technology{
        width: 300px;
        height: 250px;
    }
    .card3_Technology{
        width: 300px;
        height: 250px;
    }
    .card4_Technology{
        width: 20%;
        height: 25%;
    }


}
